.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    

  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  a {
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    margin-top: 10px;
  }